<!DOCTYPE html>
<html> 

  <head>

    <title>[SITE_TITLE]</title>
    
    <meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8">
    <meta name = "ROBOTS"             content = "INDEX, FOLLOW">
    <meta name = "description"        content = "[SITE_DESCRIPTION]"/>
    
    <link rel = "stylesheet"    href = "/css/graa.css"       type = "text/css"     media="all"/>
    <link rel = "shortcut icon" href = "/img/favicon.ico"    type = "image/x-icon"/>

  </head>

  <body>

    <header class = "header_menu">
      <nav>
        <ul>
          [MENU_ITEMS]
        </ul>
      </nav>
    </header>

    <section>

      [ARTICLES]

    </section>

    <footer class = "footer_page">
      <nav>
        <ul>
          <il>
            <a href="/rss.xml">
                <img src="/img/rss.png" width="36" height="14">
              </a>
          </il>
        </ul>
     </nav>
    </footer>

  </body>


</html>